@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* Title and logo */
#title {
  width: 40%;
  margin-left: 31%;
  height: auto;
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
}

#title:active {
  transform: scale(0.95);
}

#instructions {
  text-align: center;
  font-size: 100%;
  font-weight: 700;
  width: 40%;
  margin-left: 31%;
}

#upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 40%;
  line-height: 150px;
  border-width: 2px;
  border-style: dashed;
  border-radius: 30px;
  text-align: center;
  background-color: #d9d9d9;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 31%;
}

.upload-text {
  font-size: 100%;
  color: #035600;
  transition: color 0.3s ease-in-out;
}

.upload-text:hover {
  color: #3c9639;
}

#upload:hover {
  background-color: black;
  border-color: #3c9639;
  cursor: pointer;
}

#upload:active {
  transform: scale(0.98);
  background-color: black;
}

#output-upload {
  text-align: center;
  width: 40%;
  margin: 20px auto;
}

#analyse {
  margin-left: 31%;
  width: 40%;
  background-color: white;
  color: #035600;
  border: 2px solid #035600;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.1s ease-in-out;
}

#analyse:hover {
  background-color: #035600;
  border: 2px solid #035600;
  color: white;
}

#analyse:active {
  transform: scale(0.95);
  background-color: #035600;
  color: white;
  border: 2px solid #035600;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  #upload .upload-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #upload,
  #title,
  #instructions,
  .load-existing-dataset-button,
  #output-upload {
    max-width: 600px;
    min-width: 300px;
    width: 70%;
  }
}
