@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.analytics-layout * {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.nav-pills .nav-link {
  background-color: transparent !important;
  color: black !important;
  margin: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:active {
  background-color: #3c9639 !important;
  color: white !important;
}

.analytics-layout .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  padding: 2rem 1rem;
  background-color: rgb(241, 241, 241) !important;
  color: #3c9639;
  text-align: center;
}

.analytics-layout .sidebar .analytics-layout .display-4 {
  color: #3c9639;
}

.analytics-layout .nav-link {
  text-decoration: none;
  color: black;
}

.analytics-layout .sidebar-logo-container {
  display: inline-block;
  padding: 0;
  background-color: transparent !important;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#logo-button {
  border: none !important;
  outline: none !important;
  background: none;
  margin-top: 10%;
}

#logo-button:hover {
  transform: scale(1.05) translateX(10px);
}

#logo-button:active {
  transform: scale(0.95) translateX(-10px);
}

.sidebar .nav-link:active {
  transform: scale(0.95);
}

.analytics-layout .sidebar-logo {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.analytics-layout .sidebar .analytics-layout .nav-link.active {
  background-color: #3c9639 !important;
  color: white !important;
}

.analytics-layout .sidebar .analytics-layout .nav-link:hover {
  background-color: #3c9639 !important;
  color: white !important;
}

.analytics-layout .sidebar .analytics-layout .nav-link:active {
  transform: scale(0.95);
}

.analytics-layout .logo-link {
  text-decoration: none;
}

.analytics-layout .logo-link:hover {
  background-color: transparent !important;
}

.analytics-layout #logo-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.analytics-layout .content {
  margin-left: 18rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  background-color: white;
  color: black;
}

.analytics-layout .p-3.bg-light.rounded-3 {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 10px;
}

/* Tabs Styling */
.nav-tabs .nav-link {
  color: black;
  font-size: 1.2rem;
}

.nav-tabs .nav-link.active {
  background-color: #3c9639 !important;
  color: white !important;
  border-color: #3c9639 #3c9639 transparent !important;
}

.nav-tabs .nav-link:hover {
  background-color: rgba(60, 150, 57, 0.1) !important;
  color: #3c9639 !important;
}

.tab-content {
  padding: 1rem;
}

/* Responsive Plot Titles */
@media (max-width: 576px) {
  .analytics-layout .plotly-graph .analytics-layout .title {
    font-size: 16px !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .analytics-layout .plotly-graph .analytics-layout .title {
    font-size: 20px !important;
  }
}

@media (min-width: 769px) {
  .analytics-layout .plotly-graph .analytics-layout .title {
    font-size: 24px !important;
  }
}

/* RadioItems and Checkbox Styling */
.analytics-layout input[type="radio"] .analytics-layout input[type="checkbox"] {
  accent-color: #3c9639;
}

/* Dropdown Styling */
.analytics-layout .VirtualizedSelectFocusedOption {
  background-color: #3c9639;
  color: white;
}

.analytics-layout .Select-control {
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.analytics-layout
  .Select-control:hover
  .analytics-layout
  .Select-control:focus
  .analytics-layout
  .Select-control:focus-within {
  border: 1px solid #3c9639 !important;
  box-shadow: 0 0 5px #3c9639 !important;
}

.analytics-layout .Select--multi .analytics-layout .Select-value {
  background-color: #7abb77;
  border-color: #3c9639;
  color: #fff;
}

.analytics-layout .Select--multi .analytics-layout .Select-value-icon {
  border-right: 1px solid #3c9639;
}

.analytics-layout .Select-value-icon:hover {
  color: #3c9639 !important;
}

/* Datepicker Styling */
.analytics-layout
  .CalendarDay__selected
  .analytics-layout
  .CalendarDay__default:hover {
  background: #3c9639;
  border-color: #3c9639;
}

.analytics-layout .CalendarDay__selected_span {
  background: #7abb77;
  border-color: #7abb77;
}

.analytics-layout .DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}

.analytics-layout .DateInput_input__focused {
  border-bottom: 1px solid #3c9639 !important;
}

.analytics-layout .DateRangePickerInput__withBorder:hover {
  border-color: #3c9639 !important;
  box-shadow: 0 0 5px #3c9639 !important;
}

/* Slider Styling */
.analytics-layout .rc-slider-track {
  background-color: #b1c4b0;
}

.analytics-layout .rc-slider-handle {
  border-color: #7abb77 !important;
}

.analytics-layout
  .rc-slider-handle:focus
  .analytics-layout
  .analytics-layout
  .analytics-layout
  .rc-slider-handle:active
  .analytics-layout
  .analytics-layout
  .analytics-layout
  .rc-slider-handle:hover {
  border-color: #7abb77 !important;
  box-shadow: 0 0 5px 1px #7abb77 !important;
}

.analytics-layout .rc-slider-dot-active {
  border-color: #7abb77 !important;
}

/* Download Button Styling */
.analytics-layout #download-left .analytics-layout #download-right {
  background-color: white;
  color: #3c9639;
  border: 2px solid #3c9639;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.1s ease-in-out;
}

.analytics-layout #download-left:hover .analytics-layout #download-right:hover {
  background-color: #3c9639;
  border: 2px solid #3c9639;
  color: white;
}

.analytics-layout
  #download-left:active
  .analytics-layout
  #download-right:active {
  transform: scale(0.95);
  background-color: #3c9639;
  color: white;
  border: 2px solid #3c9639;
}

/* Warning Modal Styling */
#modal-yes-button,
#modal-no-button {
  background-color: white !important;
  border-color: #3c9639 !important;
  color: #3c9639 !important;
}

#modal-yes-button:hover,
#modal-no-button:hover,
#modal-yes-button:active,
#modal-no-button:active {
  background-color: #3c9639 !important;
  border-color: #3c9639 !important;
  color: white !important;
}

/* Mobile Responsiveness */
@media (max-width: 992px) {
  .analytics-layout .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 1rem;
  }

  .analytics-layout .content {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
  }

  .analytics-layout .sidebar .analytics-layout .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .analytics-layout .sidebar .analytics-layout .nav-link {
    margin: 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .analytics-layout .sidebar .analytics-layout .nav-link {
    font-size: 0.9rem;
  }

  .analytics-layout .sidebar-logo:hover {
    transform: none;
  }

  .analytics-layout .sidebar-logo-container {
    transform: none;
    margin-left: 65px;
  }
}
