@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* Title and logo */
#title {
  width: 35%;
  height: auto;
  transition: transform 0.2s ease-in-out;
  margin-left: 30%;
}

#title:hover {
  transform: scale(1.05);
}

#title:active {
  transform: scale(0.95);
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  border-color: #3c9639;
  box-shadow: 0 0 8px #3c9639;
  outline: none;
}

.btn {
  background-color: #3c9639 !important;
  border-color: #3c9639 !important;
}

.btn:hover,
.btn:active {
  background-color: #035600 !important;
  border-color: #035600;
}

/* Custom CSS for the progress bar */
#progress-bar {
  margin-top: 20px;
}

.progress-bar-custom .progress-bar {
  width: 40%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Override the background color of the progress bar */
.progress-bar-custom .progress-bar {
  background-color: #3c9639 !important; /* Force custom color */
}

/* To apply the striped effect to the progress bar */
.progress-bar-custom .progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0.15) 25%,
    rgba(0, 0, 0, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0.15) 75%,
    rgba(0, 0, 0, 0.15) 100%
  );
}

/* Ensure variables are overwritten */
.progress,
.progress-stacked {
  --bs-progress-height: 30px;
  --bs-progress-font-size: 1rem;
  --bs-progress-bg: #e0e0e0;
  --bs-progress-border-radius: 10px;
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #3c9639 !important;
  --bs-progress-bar-transition: width 0.4s ease;
  --bs-box-shadow-inset: none;
}

/* Extra specificity to ensure background is overridden */
.progress-bar {
  background-color: #3c9639 !important;
}

/* Error Modal */
.modal-content {
  background-color: lightgray;
  color: #721c24;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-header .close {
  color: #3c9639;
}

.modal-footer .btn {
  background-color: #3c9639;
  color: white;
}

.modal-footer .btn:hover {
  background-color: #035600;
  color: white;
}

#status {
  margin-top: 20px;
  margin-left: 40%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18rem;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar .display-4 {
  font-size: 1.5rem;
  color: #3c9639;
}

.sidebar .lead {
  font-size: 1rem;
  color: #3c9639;
}

.sidebar hr {
  border-color: black;
}

.sidebar-logo-container {
  display: inline-block;
  padding: 0;
  background-color: transparent !important;
}

.sidebar-logo {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.sidebar-logo:hover {
  transform: scale(1.1) translateX(10px);
}

.sidebar-logo:active {
  transform: scale(0.9) translateX(-10px);
}

.sidebar .nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.sidebar .nav-link.active {
  background-color: #3c9639 !important;
  color: white !important;
}

.sidebar .nav-link:hover {
  background-color: #3c9639 !important;
  color: white !important;
}

.sidebar .nav-link:active {
  transform: scale(0.95);
  background-color: #3c9639 !important;
}

.nav-pills .nav-link.active {
  background-color: #3c9639;
}

.logo-link {
  text-decoration: none;
}

.logo-link:hover {
  background-color: transparent !important;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  #title {
    width: 80%;
    margin-left: 13%;
  }

  #status {
    margin-left: 25%;
  }

  .sidebar {
    position: relative;
    width: 100%;
    padding: 1rem;
  }

  #results-page-content {
    margin-left: 0;
    padding: 1rem;
  }
}
