@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  padding: 2rem 1rem;
  background-color: rgb(241, 241, 241);
  color: #3c9639;
  text-align: center;
  overflow-y: auto;
}

.sidebar .display-4 {
  font-size: 1.5rem;
  color: #3c9639;
}

.sidebar .lead {
  font-size: 1rem;
  color: #3c9639;
}

.sidebar hr {
  border-color: black;
}

.sidebar-logo-container {
  display: inline-block;
  padding: 0;
  background-color: transparent !important;
}

.sidebar-logo {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.sidebar-logo:hover {
  transform: scale(1.1) translateX(10px);
}

.sidebar-logo:active {
  transform: scale(0.9) translateX(-10px);
}

.sidebar .nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.sidebar .nav-link.active {
  background-color: #3c9639 !important;
  color: white !important;
}

.sidebar .nav-link:hover {
  background-color: #3c9639 !important;
  color: white !important;
}

.sidebar .nav-link:active {
  transform: scale(0.95);
}

.logo-link {
  text-decoration: none;
}

.logo-link:hover {
  background-color: transparent !important;
}

.content {
  margin-left: 18rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  background-color: white;
  color: black;
}

.p-3.bg-light.rounded-3 {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 10px;
}

/* Tabs Styling */
.nav-tabs .nav-link {
  color: black;
  font-size: 1.2rem;
}

.nav-tabs .nav-link.active {
  background-color: #3c9639 !important;
  color: white !important;
  border-color: #3c9639 #3c9639 transparent !important;
}

.nav-tabs .nav-link:hover {
  background-color: rgba(60, 150, 57, 0.1) !important;
  color: #3c9639 !important;
}

.tab-content {
  padding: 1rem;
}

/* Responsive Plot Titles */
@media (max-width: 576px) {
  .plotly-graph .title {
    font-size: 16px !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .plotly-graph .title {
    font-size: 20px !important;
  }
}

@media (min-width: 769px) {
  .plotly-graph .title {
    font-size: 24px !important;
  }
}

/* RadioItems and Checkbox Styling */
input[type="radio"],
input[type="checkbox"] {
  accent-color: #3c9639;
}

/* Dropdown Styling */
.VirtualizedSelectFocusedOption {
  background-color: #3c9639;
  color: white;
}

.Select-control {
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.Select-control:hover,
.Select-control:focus,
.Select-control:focus-within {
  border: 1px solid #3c9639 !important;
  box-shadow: 0 0 5px #3c9639 !important;
}

.Select--multi .Select-value {
  background-color: #7abb77;
  border-color: #3c9639;
  color: #fff;
}

.Select-value-label {
  background-color: #7abb77;
  border-color: #3c9639;
  color: #fff;
}

.Select--multi .Select-value-icon {
  border-right: 1px solid #3c9639;
}

.Select-value-icon:hover {
  color: #3c9639 !important;
}

/* Datepicker Styling */
.CalendarDay__selected,
.CalendarDay__default:hover {
  background: #3c9639;
  border-color: #3c9639;
}

.CalendarDay__selected_span {
  background: #7abb77;
  border-color: #7abb77;
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}

.DateInput_input__focused {
  border-bottom: 1px solid #3c9639 !important;
}

.DateRangePickerInput__withBorder:hover {
  border-color: #3c9639 !important;
  box-shadow: 0 0 5px #3c9639 !important;
}

/* Slider Styling */
.rc-slider-track {
  background-color: #b1c4b0;
}

.rc-slider-handle {
  border-color: #7abb77 !important;
}

.rc-slider-handle:focus,
.rc-slider-handle:active,
.rc-slider-handle:hover {
  border-color: #7abb77 !important;
  box-shadow: 0 0 5px 1px #7abb77 !important;
}

.rc-slider-dot-active {
  border-color: #7abb77 !important;
}

/* Download Button Styling */
#download-left,
#download-right {
  background-color: white;
  color: #3c9639;
  border: 2px solid #3c9639;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.1s ease-in-out;
}

#download-left:hover,
#download-right:hover {
  background-color: #3c9639;
  border: 2px solid #3c9639;
  color: white;
}

#download-left:active,
#download-right:active {
  transform: scale(0.95);
  background-color: #3c9639;
  color: white;
  border: 2px solid #3c9639;
}

/* Warning Modal Styling */
#modal-no-button,
#modal-yes-button {
  background-color: white;
  border-color: #3c9639;
  color: #3c9639;
}

#modal-yes-button:hover,
#modal-no-button:hover,
#modal-yes-button:active,
#modal-no-button:active {
  background-color: #3c9639;
  border-color: #3c9639;
  color: white;
}

/* Mobile Responsiveness */
@media (max-width: 992px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 1rem;
  }

  .content {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
  }

  .sidebar .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sidebar .nav-link {
    margin: 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .sidebar .nav-link {
    font-size: 0.9rem;
  }

  .sidebar-logo:hover {
    transform: none;
  }

  .sidebar-logo-container {
    transform: none;
    margin-left: 65px;
  }
}

/* Move the sort arrows to the right of the column headers */
.column-actions {
  order: 9;
}

/* Change the sort arrows (src: https://stackoverflow.com/questions/44851964/how-to-change-the-color-of-the-sorting-arrows-in-datatables) */
/* table.dataTable thead .sorting_asc {
  background-image: url("/YourImageFolder/sort_asc.png")
}

table.dataTable thead .sorting_desc {
  background-image: url("/YourImageFolder/sort_desc.png")
}

table.dataTable thead .sorting {
  background-image: url("/YourImageFolder/sort_both.png")
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url("/YourImageFolder/sort_asc_disabled.png")
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url("/YourImageFolder/sort_desc_disabled.png")
} */
